body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #6de3f3ff;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #6de3f3;
}

.imagens {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.imagem-destaque {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #6de3f3;
    color: white;
}
