/* Resetando margens e padding */
* 
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color:white ! important;
    color: white ! important;
}

/* Estilo para o cabeçalho */
header {
    background-color:rgb(157, 227, 237) ! important;
    color:black! important;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o conteúdo principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo para as imagens */
.imagens {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.imagem-container {
    text-align: center;
    width: 45%;
}

.imagem {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem-container p {
    margin-top: 10px;
    font-size: 1.1em;
    color: black;
}

/* Estilo para o rodapé */
footer {
    background-color:rgb(157, 227, 237)! important;
    color: white ! important;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

footer p {
    margin-top: 10px;
}  

